html {
  background-image:url(background.png);background-repeat:repeat-x;  
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  
  //top: 0px;
  //right: 0px;
  //bottom: 0px;
  //left: 0px;
  //width:90%;
  // height: 100%;
  //margin: auto;
  //border:thin solid gray;
  //background-color: white;
    
  color: #828282;
} 

a {

  //margin:10px;
  //border: thin solid gray;
  //padding: 10px;
  //width:100%;
  text-decoration:none;
  color:#306090;
  //font-weight:bold;
}

a:hover{
  color:#0066CC; 
}

#frame {
  background-color:white;
  border:thin solid gray;
  width:900px;
  margin:0 auto;
  margin-top:5px;
  height:95%;
}



#main {
  overflow:hidden;
  width:730px;
  height:100%;
  overflow:hidden;
  float:right;
}
  #title {
    color: #fafafa;
    background-color:green;
    border: thin solid #d5d5d5;
    text-align:right;
    padding-right:30px;
    height:80px;
    overflow:hidden;
    text-shadow: 0px 0px 30px black;
    text-shadow: 0px 0px 20px black;
    text-shadow: 0px 0px 10px black;
    margin: 5px 5px 0px 0;
    background-image:url(Electronics2.png);
    background-repeat:no-repeat;
  }
  
  #version {
    text-align:left;
    font-size:x-small;
    text-shadow: 1px 1px 1px black;
    //text-shadow: -1px -1px 0px black;

    float:left;
    margin-top:55px;
    margin-left:5px;
    
    color: #eeeeee;
  }

  #menu {
    height:40px;
    overflow:hidden;
    //background-color:#fafafa;
  }
    
    #menu-scroll{
      overflow-x:auto;
      overflow-y:hidden;
      height:100%;
      width:100%;
      white-space: nowrap;
    }
    
  #menu ul {
      list-style:none;
      margin:10px 0 0 0;
      padding:0 0 0 0;
  }
  
  #menu li {
      display:inline;
      margin:0 0 0 0;
      padding:0 5px 0 5px;
  }
  
  
  #menu a {
	 padding:5px;
	 color: #306090;
	 //background-color:white;
 	 //border:thin solid gray;
	 // color: white;
	 // border: solid 1px #90d6f8;
	 // background: #70b6f8;
	 // background: -webkit-gradient(linear, left top, left bottom, from(#70b6f8), to(#90d6f8));
	 // background: -moz-linear-gradient(top,  #70b6f8,  #90d6f8);
	 // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#70b6f8', endColorstr='#90d6f8');
  }
  
  #menu a:hover {
	 background-color: #f0f0f0;
	 color:#0066CC; 
	 // background: #f47c20;
	 // background: -webkit-gradient(linear, left top, left bottom, from(#5096f8), to(#70b6f8));
	 // background: -moz-linear-gradient(top,  #5096f8,  #70b6f8);
	 // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5096f8', endColorstr='#70b6f8');
  }
  #menu a:active {
	 // color: #fcd3a5;
	 // background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	 // background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	 // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
  }

  #header {
    height:130px;
  }
  
  #content {
    height:calc(100% - 130px);
    overflow-y:auto;
    padding-right:5px;
  }

#log {
  border: dashed gray;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:20px;
  font-family:monospace;
  
}